<h1>Articles containing <%= @tag.name %> </h1>

<ul>
  <% @tag.articles.each do |article| %>
  <li><%= link_to article.title, article_path(article) %></li>
  <% end %>
</ul>

<%= link_to "All Tags", tags_path %>
<br/><br/>
<%= link_to "All Articles", articles_path %>